.footerOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footerOptions a {
    padding: 5%;
    border-radius: 5px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.footerAboutMe {
    width: 100px;

}

.footerOptions a:hover {
    background-color: #C5C6C7;
    color: #1F2833;
}

.footerSocials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(1rem, 1.5vw, 2rem);
    ;
}

footer {
    background-color: #1F2833;
    padding: 1%;
    font-weight: 500;
    color: #C5C6C7;
}

footer a {
    text-decoration: none;
    color: #C5C6C7;
}