.footerOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerSocials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(1rem, 1.5vw, 2rem);;
}

footer {
    background-color: #1F2833;
    padding: 1%;
    font-weight: 500;
    color: #C5C6C7;
}

footer a{
    text-decoration: none;
    color: #C5C6C7;
}