header {
  background-color: #1F2833;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1.5%;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
  position: sticky;
  top: 0;
  color: #C5C6C7;
}

.headerName {
  flex-grow: 4;
  align-self: self-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 20%;
}

.headerLanguage {
  cursor: pointer;
}

@media only screen and (max-width: 760px){
  .headerName {
    max-width: 35%;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  max-width: 40%;

}

nav a {
  text-decoration: none;
  color: #C5C6C7;
}

/* DROPDOWN */
.dropbtn {
  background-color: #45A29E;
  color: #C5C6C7;
  font-size: clamp(1rem, 1.5vw, 2rem);
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C5C6C7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #45A29E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #45A29E;
}