.App {
  background-color: #5971a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size:clamp(1rem, 5.5vw, 5rem);
}

h2 {
  font-size:clamp(1rem, 4vw, 4rem);
}

h3 {
  font-weight: normal;
}




